{{ partial "header" .}}

<h1>{{ .Site.Params.notFound.h1 }}</h1>
<p>{{ .Site.Params.notFound.p }}</p>
<img src="{{ .Site.Params.notFound.gopher }}" alt="gopher" title="gopher" class="gopher" />

{{ if .Site.Params.notFound.mainSection }}
  {{ $scratch := newScratch }}
  {{ if eq .Site.Params.notFound.mainSection "portfolio" }}
    {{ $scratch.Set "section" .Site.Params.sections.portfolio }}
  {{ else }}
    {{ $scratch.Set "section" (.Site.Params.sections.post) }}
  {{ end }}

  <p>While you're here, you can check out my last {{ $scratch.Get "section" }}:</p>
  {{ $pages := where site.RegularPages.ByPublishDate.Reverse "Type" "in" .Site.Params.notFound.mainSection }}
  {{ range first 1 $pages }}
    {{ partial (printf "%s/item.html" .Site.Params.notFound.mainSection) . }}
  {{end}}
{{end}}

{{ partial "footer" .}}
